.imga img {
  /* width: 80%; */
  text-align: center;
  padding: 10%;
/*  padding-left: 6%;*/

}

@font-face {
  font-family: Otomanopee One;
  src: url(../OtomanopeeOne-Regular-Vertical.ttf);
}

.upRTitle {
  font-family: 'Otomanopee One';
  font-style: normal;
  font-weight: 400;
  line-height: 145px;
  padding-top: 100px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 4%;
  transform: matrix(1, 0, -0.11, 0.99, 0, 0);
}

.upRCon {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  /* font-size: 30px; */
  line-height: 35px;
  color: #696984;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.upRImg img {
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 4%;
}

@media screen and (min-width: 601px) {

  .upR h1 {
    font-size: 80px;
  }

  .upR h3 {
    font-size: 25px
  }
  .imga img {
    text-align: center;
    padding: 10%;
  }
}

@media screen and (max-width: 600px) {
  .upR h1 {
    font-size: 60px;
  }

  .upR h3 {
    font-size: 20px
  }
}

@media (max-width: 420px) {
  .imga img {
    text-align: center;
    padding: 5%;
  }
  .upR h1 {
    font-size: 40px;
    line-height: 68px;
  }
  .upR h3 {
    font-size: 15px
  }
  .upRImg{
    text-align: center;
  }
  .upRImg img{
/*    margin-right: 28px;*/
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.jiantou{
  height: 60px;
  width: auto;
  margin-top: -6%;
  margin-bottom: 5%;
}

.jiantou img {
  padding-left: 46%;
}

.downL {
  padding-left: 8%;
}

.downLTitle {
  font-family: 'Otomanopee One';
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  color: #000000;
  transform: matrix(1, 0, -0.11, 0.99, 0, 0);
}

.downLCon {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  color: #696984;
  padding-top: 5%;
  padding-bottom: 4%;
}

@media screen and (min-width: 601px) {
  .downL h1 {
    font-size: 60px;
  }

  .downL h3 {
    font-size: 25px
  }
}

@media screen and (max-width: 600px) {
  .downL h1 {
    font-size: 45px;
  }

  .downL h3 {
    font-size: 20px
  }
}

@media (max-width: 420px) {
  .downL h1 {
    font-size: 40px;
    line-height: 68px;
  }

  .downL h3 {
    font-size: 15px
  }
}

.progress-bar-purple {
  background-color: #6B54AB !important;
}

.proText {
  font-family: 'Abhaya Libre';
  font-weight: 700;
  line-height: 35px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.proText span {
  font-family: 'Abhaya Libre';
  float: right;
  padding-right: 20%;
}

.pro {
  margin-bottom: 8%;
}

@media screen and (min-width: 601px) {
  .pro h3 {
    font-size: 30px
  }
}

@media screen and (max-width: 600px) {
  .pro h3 {
    font-size: 25px
  }
}

@media (max-width: 420px) {
  .pro h3 {
    font-size: 20px
  }
}

@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0%{
      transform: scale(0.9);  /*开始为原始大小*/
  }
  25%{
      transform: scale(1); /*放大1.1倍*/
  }
  50%{
      transform: scale(1);
  }
  75%{
      transform: scale(1);
  }
}
.dowmR1 {
  width: 45%;
  height: 45%;
  float: left;

  background-size: 150px 200px;
  -webkit-animation-name: scaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: linear; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 3s; /*动画所花费的时间*/
}

.downR {
  margin-top: 4%;
}

.dowmR2 {
  width: 45%;
  height: 45%;
  float: right;

  background-size: 150px 200px;
  -webkit-animation-name: scaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: linear; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 3s; /*动画所花费的时间*/
}

.dowmR3 {
  width: 45%;
  height: 45%;
  float: left;

  background-size: 150px 200px;
  -webkit-animation-name: scaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: linear; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 3s; /*动画所花费的时间*/
}

.dowmR4 {
  width: 45%;
  height: 45%;
  float: right;

  background-size: 150px 200px;
  -webkit-animation-name: scaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: linear; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 3s; /*动画所花费的时间*/
}

.dowmR1 img {
  padding-top: 0;
  /* width: 76%; */
}

.dowmR2 img {
  padding-top: 12%;
  /* width: 76%; */
}

.dowmR3 img {
  padding-top: 12%;
  /* width: 76%; */
}

.dowmR4 img {
  padding-top: 12%;
  /* width: 76%; */
}
